@import url("animation.css") screen;

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}
a, a:visited {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #d33e52;
}
html, body {
    margin: 0;
    padding: 0;
    color: #333;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 160px;
}
#wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 150px;
    position: relative;
}
header ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}
header ul li {
    height: 30px;
    width: 30px;
    float: right;
    margin-left: 5px;
    /*border: 1px solid #DDD;*/
}
header ul li img{
    width: 100%;
}
header h1 {
    font-weight: 400;
    border-bottom: 2px solid #333;
    position: absolute;
    left: 150px;
    top: 25px;
    padding: 0;
    margin: 0;
}
header h3 {
    position: absolute;
    font-weight: 200;
    font-style: italic;
    left: 214px;
    top: 70px;
    right: 0;
    padding: 0;
    margin: 0;
    color: #d33e52;
}
header a:visited {
    color: #333;
}
nav {
    width: 100%;
    height: 40px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    background-color: #CCC;
    text-align: center;
    overflow: hidden;
}
nav a, nav .dropdown, nav a:visited {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 40px;
    padding-top: 9px;
    background-color: #FFF;
    color: #d33e52;
    text-decoration: none;
}
nav a:hover, nav .dropdown:hover {
    color: #FFF;
    background-color: #d33e52;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: transparent;
    width: 25%;
    max-width: 250px;
    min-width: 150px;
    padding-top: 11px;
}
.dropdown-content a {
    display: block;
    border-bottom: 2px solid #333;
    clear: both;
    width: 100%;
}
.dropdown:hover .dropdown-content {
    display: block;
}
footer {  
    position: absolute;
    bottom: -40px;
    width: 100%;
    max-width: 1000px;
    border-top: 2px solid #333;
    height: 160px;
}
header .logo {
    margin-top: 15px;
    width: 130px;
    height: 130px;
}
.logo img{
    width: 100%;
}
footer .logo{
    margin: 0 auto;
}
footer a, footer a:visited {
    color: #d33e52;
}
footer a:hover {
    color: #333;
}
footer ul {
    margin-top: 40px;
    list-style: none;
    padding: 0;
    text-align: center;
}
footer ul li {
    display: inline-block;
/*    width: 100px;*/
    vertical-align: middle;
    text-align: left;
    padding: 0 20px 0 20px;
}

footer .logo {
    width: 70px;
}
footer h3 {
    padding-bottom: 7px;
    margin: 0;
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
}
footer p {
    margin: 0
}
#slideshow {
    margin: 40px auto;
    width: 90%;
    height: 500px;
    border: 1px solid #DDD;
    overflow: hidden;
}
#slideshow img {
    height: 500px;
    margin: 0 auto;
    display: block;
    margin-right: 50%;
    margin-left: 0%;
}
/* ----------- SLIDESHOW ------------- */
/* source: http://www.alessioatzeni.com/CSS3-Cycle-Image-Slider/ */

/* LAYOUT */
/*#slideshow {
    margin:20px auto;
    overflow:hidden;
    width:960px;
}*/

/* CONTENT SLIDER */
#content-slider {
    width:100%;
    height:100%;
    margin:0 auto 0;
}
/* SLIDER */
#slider {
    background:#333;
    border:2px solid #333;
    /* box-shadow:1px 1px 5px rgba(0,0,0,0.7); */
    height:100%;
    width:100%;
    margin:0px auto 0;
    overflow:visible;
    position:relative;
}
#mask {
    overflow:hidden;
    height:100%;
}
#slider ul {
    margin:0;
    padding:0;
    position:relative;
}
#slider li {
    width:100%;
    height:100%;
    position:absolute;
    top:-500px;
    list-style:none;
}

#slider li.firstanimation {
    -moz-animation:cycle 25s linear infinite;   
    -webkit-animation:cycle 25s linear infinite;        
}
#slider li.secondanimation {
    -moz-animation:cycletwo 25s linear infinite;
    -webkit-animation:cycletwo 25s linear infinite;     
}
#slider li.thirdanimation {
    -moz-animation:cyclethree 25s linear infinite;
    -webkit-animation:cyclethree 25s linear infinite;       
}
#slider li.fourthanimation {
    -moz-animation:cyclefour 25s linear infinite;
    -webkit-animation:cyclefour 25s linear infinite;        
}
#slider li.fifthanimation {
    -moz-animation:cyclefive 25s linear infinite;
    -webkit-animation:cyclefive 25s linear infinite;        
}

#slider .tooltip {
    background:rgba(255,255,255,1);
    width:300px;
    height:60px;
    position:relative;
    bottom:0px;
    left:-320px;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;  
}
#slider .tooltip h1 {
    color:#fff;
    font-size:24px;
    font-weight:300;
    line-height:60px;
    padding:0 0 0 20px;
}
#slider li#first:hover .tooltip, 
#slider li#second:hover .tooltip, 
#slider li#third:hover .tooltip, 
#slider li#fourth:hover .tooltip, 
#slider li#fifth:hover .tooltip {
    left:0px;
}
/*#slider:hover li, 
#slider:hover .progress-bar {
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
}*/

/* PROGRESS BAR */
.progress-bar { 
    position:relative;
    top:-5px;
    width:100%; 
    height:5px;
    background:rgba(211, 62, 82, 1);
    -moz-animation:fullexpand 25s ease-out infinite;
    -webkit-animation:fullexpand 25s ease-out infinite;
}