* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    color: #333;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 90px;
}
#wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 150px;
    position: relative;
}
header ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}
header ul li {
    height: 30px;
    width: 30px;
    float: right;
    margin-left: 5px;
    border: 2px solid #333;
}
header h1 {
    font-weight: 400;
    border-bottom: 2px solid #333;
    position: absolute;
    left: 150px;
    top: 25px;
    padding: 0;
    margin: 0;
}
header h3 {
    position: absolute;
    font-weight: 200;
    font-style: italic;
    left: 214px;
    top: 70px;
    right: 0;
    padding: 0;
    margin: 0;
    color: #d33e52;
}
nav {
    width: 100%;
    height: 40px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;

    background-color: #CCC;
    text-align: center;
    overflow: hidden;
}
nav a, nav .dropdown {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 40px;
    padding-top: 9px;
    background-color: #FFF;
    color: #d33e52;
    text-decoration: none;
}
nav a:hover, nav .dropdown:hover {
    color: #FFF;
    background-color: #d33e52;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: transparent;
    width: 25%;
    max-width: 250px;
    padding-top: 11px;
}
.dropdown-content a {
    display: block;
    border-bottom: 2px solid #333;
    clear: both;
    width: 100%;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#logo {
    margin-top: 15px;
    width: 130px;
    height: 130px;
}
#logo img{
    width: 100%;
}
#slideshow {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    border: 1px solid #DDD;
}
footer {  
    position: absolute;
    bottom: -20px;
    width: 100%;
    max-width: 1000px;
    border-top: 2px solid #333;
    height: 90px;
}